<% t = Time.now %>

<% hello = task.created_at.strftime("%S").to_i-t.strftime("%S").to_i %>
<% minute = task.created_at.strftime("%M").to_i-t.strftime("%M").to_i %>

<div class="hover <% if task.done == true %> blue <% end %> <% if hello < 1 && minute == 0 %> animated <% end %>">





<li>
<p> <%= task.name %>







</p>  


<div class="pull-right btx">





<%= form_for ([@user,@user.tasks.find(task.id)]),:html => { :class => 'form-class'} do |f| %>


			<%= f.check_box :done, :class => 'form-class' if task.done == false %>
<% end %>

	<% if task.done == true %>

	 <img src="https://www.flytap.com/-/media/Flytap/reserved-area/benefits/check-in.svg">

	<% end %>

<% unless action_name == "show" %>

		<div type="button" class="btn btn-info">


			<%= link_to "Show", user_task_path(@user, task) %>

		</div>

<% end %>

	<div type="button" class="btn btn-warning">

		<%= link_to "Edit", edit_user_task_path(@user, task) %>

	</div>



	


	


		<%= form_for ([@user, @user.tasks.find(task.id)]), :html => { :class => 'btn' }, method: :delete do |f| %>

		

		<%= f.button "Remove", :class => "enleve btn btn-danger delete" %>

		<% end %>






		
	




	



</div>


</li>



<br>


</div>







