<br> <br>
<h1>To Do List</h1> 
<hr />







<ol>



<%= render @tasks %>



<br>


<div id="smooth">

<h3> <%= link_to "New Post", new_user_task_path(@user), class: "btn btn-primary" %> 





<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Quick-Add
  </button>



  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
   

    <%= form_for ([@user,Task.new]), :html => { :class => 'form-new'}  do |f| %>


			<%= f.text_field :name, :class => 'dropdown-item'%>
			<%= f.check_box :done %>


			<div id='quick-add'>

			<div data-toggle='dropdown' >

			<%= f.submit :class => 'new btn btn-primary'  %>

			</div>


			</div>
		<% end %>
  </div>

 </div>
</div>

</h3>




</ol>









